<div class ="container">
<app-registrationform></app-registrationform>

</div>

<!--
<div class ="container">
<app-templatedforms></app-templatedforms>
<hr>
<app-reactiveforms1></app-reactiveforms1>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Online Shopping</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li><a routerLink="register">Register</a></li>
      <li><a routerLink="login">Login</a></li>
      
    </ul>
  </div>
</nav>

<div class ="container">
<router-outlet></router-outlet>
</div>
-->