<p>datatypes works!</p>
<div class="data">
    <!--Interpolation  {{}} -->
    <!--On-->
    First Name:{{name}}<br/>
    Age:{{age}}<br/>
    Hobbies:{{hobbies}}<br>
    Marks:{{marks}}<br>
    Boolean:{{Istrue}}<br>
    Tuple:{{tupleval}}<br>
    Any:{{dynamicvalue}}<br>
    Object:
    FatherName:{{student.fathername}}
    Address:{{student.Address}}
    <br>

    JSon:{{student|json}}
</div>

<hr>
<img src = "assests/images/ball.jpg" alt="BALL" height="50" width="50"/>
<hr>
<img src ={{picyure}} alt="DOLL"/>
<hr>
<h2>PropertyBinding</h2>
<img [src]=picture alt="DOLL"/>