<p>departmentcrud works!</p>

<form>
Enter the Did:<input type="number" id="did" name="deptid" [(ngModel)] = "getdeptinfo.did"> <br><br>
Enter the Name:<input type="text" id="dname" name="deptname" [(ngModel)] = "getdeptinfo.dname"> <br><br>
Enter the Location:<input type="text" id="location" name="deptlocation" [(ngModel)] = "getdeptinfo.location"> <br><br>

<button class ="btn btn-primary" (click)="addDepartment()">Add</button> &nbsp;&nbsp;&nbsp;
<button class ="btn btn-primary" (click)="updateDepartment()">Update</button>
</form>


<h1 style="color: red; font-size: 30px;">{{msg}}</h1>
<hr>
<h1>Department info</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                
            </tr>
        </thead>
        <tbody *ngFor="let d of dept; let i = index">
            <tr>
                <td>{{d.did}}</td>
                <td>{{d.dname}}</td>
                <td>{{d.location}}</td>
                
                <td><button (click)="deleteDepartment(d.did)">Delete</button></td>
                <td><button (click)="EditDepartment(d.did)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>

