<p>registrationform works!</p>
<form >

    <p>
        <label>Enter Name</label>
        <input type="text" formControlName="rname">
    </p>

   
    <p>
        <label>Enter Password</label>
        <input type="password" formControlName="pwd">
    </p>

    <p>
        <label>Confirm Password</label>
        <input type="password" formControlName="cpwd">
    </p>
    
    <p>
        <label>Enter MobileNo</label>
        <input type ="text" formControlName="phno">
    </p>

    <p>
        <label>Select Gender</label>
        <input type ="radio" name="gender" formControlName="gender">Male
        <input type ="radio" name="gender" formControlName="gender" >Female
    </p>


     <p>
        <label>Enter Email</label>
        <input type="text" formControlName="remail">
    </p>

    

    <button class ="btn btn-success" type="submit" >Login</button>

</form>

